<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Node with MongoDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../navbar')%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-primary">Lista de Contactos</h1>
                </div>
                <div class="col-md-6 offset-md-3 col-sm-12 col-12 mb-3">
                    <ul class="list-group">
                        <% contacts.forEach(function(contact){ %>
                            <li class="list-group-item d-flex justify-content-between">
                                <span> Nombre: <%=contact.name%> / Telf: <%=contact.phone%> </span>
                                <span>
                                    <a href="/contacts/<%=contact.id%>/edit" class="btn btn-info btn-sm"><i class="fa-solid fa-edit"></i></a>
                                    <a href="/contacts/<%=contact.id%>/delete" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                                </span>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <a class="btn btn-warning btn-sm" href="/contacts/add">
                        Agregar Nuevo Contacto
                    </a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>